<%= form_for(@content_developer) do |f| %>
  <% if @content_developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_developer.errors.count, "error") %> prohibited this content_developer from being saved:</h2>

      <ul>
      <% @content_developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
