<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Classname:</b>
  <%= @student.classname %>
</p>

<p>
  <b>Standard:</b>
  <%= @student.standard %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
