<%= form_for(@choice) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choice.errors.count, "error") %> prohibited this choice from being saved:</h2>

      <ul>
      <% @choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Select Question" %><br />
    <%= f.select(:quest_id, Quest.find(:all).collect {|c| [ c.question, c.id ] })%>
  </div>
  <div class="field">
    <%= f.label "Enter choice Answers" %><br />
    <%= f.text_field :ChoiceAnswers %>
  </div>
 <div class="field">
    <%= f.label "Tick Correct Answer" %>&nbsp;
    <%= f.check_box :answer %>
  </div>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
