<%= form_for(@lesson_page) do |f| %>
  <% if @lesson_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_page.errors.count, "error") %> prohibited this lesson_page from being saved:</h2>

      <ul>
      <% @lesson_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
<%= f.label "Select Lesson Name" %> <br />
    <%= f.select(:lesson_id,  Lesson.find(:all).collect {|c| [ c.lessonName, c.id ] })%>
  </div>
  
   <span class="field">
    <%= f.label "Content Datas" %> <br />
    <%= f.select(:content_info_id,ContentInfo.find(:all).collect {|c| [ c.name, c.id ] })%>
  </span>
&nbsp;&nbsp;&nbsp;
  <span class="actions">
    <%= f.submit "Add Content"%>
  </span>

<% end %>



