<div class="span-25 last" id="questionnaireHead">
    <%=link_to "#{@questionnaire.questionnaireName}",{:action=>"edit",:controller=>"questionnaires",:id=>"#{@questionnaire.id}"} %>
    <br />
<br />
</div>

<table>
  <thead>
    <tr>
      <td>
        <h3> Question</h3>
      </td>
      <td>
        <h3>Image</h3>
      </td>
      <td>
        <h3>Choices</h3>
      </td>
    </tr>
  </thead>
  <tbody>
    <%k=0%>
    <%@questionnaire.quests.each do |question| %>
    <tr>
      <td>
      <%=  k=k+1 %> &nbsp;<%=link_to "#{question.question}",{:action=>"edit",:controller=>"questionnaires",:id=>"#{@questionnaire.id}"} %>
      </td>
      <td>
        <%=question.image %>
      </td>
      <td>
        <%j=0%>
        <% question.choices.each do |choice| %>
        <% if choice.answer %>
          <span id="correctAnswer">
              <%=j=j+1 %>&nbsp;
              <%=link_to "#{choice.ChoiceAnswers}",{:action=>"edit",:controller=>"choices",:id=>"#{choice.id}"},:id=>"correctAnswer"%> &nbsp;
          </span>
         <% else %>
           <%=j=j+1 %>&nbsp;
          <%=link_to "#{choice.ChoiceAnswers}",{:action=>"edit",:controller=>"choices",:id=>"#{choice.id}"}%> &nbsp;
        <% end %>
       <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
<span id="correctAnswer"> * Correct Answer</span>
<div class="span-25 last">
  <%#= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> <br />
  <%#= link_to 'Back to add new questionnaire', :action=>"new" %> <br />
  <%#= link_to 'Back to Lesson Details page', {:action=>"index",:controller=>"developers"} %>
  <%= link_button_to "Lesson Details page", url_for(:action=>"index", :controller=>"developers")%>
</div>
