
  
  <div class="span-25 last" id="header">
    educrasy.com
  </div>
  <div class="span-15" id="header2">
    Educrasy <br />
    Education for 21 century
   </div>
   <div class="textsize span-10 last" id="logo">
     logo
     
   </div>
   <div class="textsize span-25 last" >
    I am a 
    </div>
    <div class="span-25 last" id="mainlinks">
      <%=link_to "Administrator",{:value=>"1"} %>
      <%=link_to "Teacher",{:value=>"2"} %>
      <%=link_to "Student",{:value=>"3"} %>
      <%#=link_to "Content Developer",{:action=>"index", :controller=>"content_developers"} %> <br />
    </div>
    <div class=" textsize span-25 last">
    Who are we?
    </div>
    <div class="span-10" id="video">
    <%if params[:value]=="1" %>
      Administrator details
    <% elsif params[:value]=="2" %>  
      Teacher details
    <% elsif params[:value]=="3" %>    
      student details
     <% else %> 
    Video
    <%end%>
    </div>
    <div class="span-2"">
         &nbsp;
    </div>
  
    <div class="span-12 last" id="signup">
      <div>
        <h2>Sign in</h2>

            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <p><%= f.label :email %><br />
              <%= f.email_field :email %></p>

              <p><%= f.label :password %><br />
              <%= f.password_field :password %></p>

              <% if devise_mapping.rememberable? -%>
                <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
              <% end -%>

              <p><%= f.submit "Sign in" %></p>
            <% end %>
            <%= render :partial => "devise/shared/links" %>
      </div>
      
      <%# if !user_signed_in? %>
            <%#=link_to "Sign up",new_user_registration_path %>  <%#= link_to "Sign_in", new_user_session_path %>
      <%# end %>       
          <%=link_to "Contact",{:action=>"new", :controller=>"/supports"} %>
      

    </div>

  
  
  
















