
  <div class="span-25 last" id="header">
    Administrators
  </div>
  <div class="span-15" id="header2">
    Educrasy <br />
    Education for 21 century
   </div>
   <div class="textsize span-10 last" id="logo">
     logo

   </div>
   <div class="textsize span-25 last" >
    I am a
    </div>
    <div class="span-25 last" id="mainlinks">
      <%=link_to "Teacher",{:action=>"index", :controller=>"teachers"} %>
      <%=link_to "Student",{:action=>"index", :controller=>"students"} %>
      <%=link_to "Content Developer",{:action=>"index", :controller=>"content_developers"} %> <br />
    </div>
    <div class=" textsize span-25 last">
    Who are we?
    </div>
    <div class="span-10" id="video">
    Administrator Text
    </div>
    <div class="textsize span-14 last" id="signup">
      <% if !user_signed_in? %>
      <%=  link_to "Sign up",new_user_registration_path %> or <%= link_to "Sign_in", new_user_session_path %>
        
      <% end %> <br />
      <div id="contact">
          <%=link_to "Contact",{:action=>"new", :controller=>"supports"} %>
      </div>

    </div>












