<%= form_for(@content_info) do |f| %>
  <% if @content_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_info.errors.count, "error") %> prohibited this content_info from being saved:</h2>

      <ul>
      <% @content_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    
    <%= f.file_field :path %>
  </div>
  <span class="actions">
    <%= f.submit %>
  </span>
<% end %>
